[submodule "solidity-fuzzing-comparison"]
	path = solidity-fuzzing-comparison
	url = git@github.com:Certora/solidity-fuzzing-comparison.git
[submodule "prb-math/lib/forge-std"]
	path = prb-math/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
